@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

html,
body {
  height: 100%;
  font-family: "Inter", sans-serif;
}

nav {
  /* position: fixed; */
  height: 8vh;
  background-color: #1e1e1e;
}

.nav--items__container {
  width: 1728px;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav--items__logo > p {
  font-size: 32px;
  color: white;
}

.nav--items__links li {
  display: inline;
  color: white;
  font-size: 1.2rem;
  margin: 0 4px;
}

/* REUSABLE STYLING */

.btn {
  width: auto;
  padding: 1rem 2rem;
  background-color: #30b5c6;
}

.btn--cta {
  border-radius: 0.1rem;
  font-size: 1.2rem;
  text-decoration: none;
  color: #f7f8fd;
  text-transform: capitalize;
  font-weight: 400;
}

.btn--order {
    margin-top: 2rem;
    border-radius: 0.1rem;
    font-size: 1.2rem;
    text-decoration: none;
    color: #f7f8fd;
    text-transform: capitalize;
    font-weight: 400;
    border: none;
}

.btn:hover {
    background-color: #1d9bac;
}

.row {
    display: flex;
    flex-direction: row;
}

/* HOME SECTION */

.home-hero {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("assets/background.jpg");
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.home-hero--container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.home-hero--container h1 {
    font-size: 72px;
    text-transform: capitalize;
    color: #f7f8fd;
    margin: 1rem 0;
}

/* ABOUT SECTION */
.parallax--about {
  /* background-image: url("assets/about-bg.jpg"); */
  background-color: #1e1e1e;
  height: 60vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.about--container {
  height: 100%;
  width: 50%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.about--container h1 {
    margin: 1rem 0;
    font-size: 48px;
    color: #d9d9d9"
  }

.about--container p {
  margin: 1rem 0;
  font-size: 1.2rem;
  color: white;
}


/* MENU SECTION */
.parallax--menu {
  background-image: url("assets/background.jpg");
  height: 75vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.menu--title {
    padding: 2rem 0;
    width: 80%;
    margin: auto;
}

.menu--title h1 {
    font-size: 1.5rem;
    text-align: center;
    color: white;
}

.menu--container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    justify-items: center;
    padding: 2rem 0;
    max-width: 1600px;
    margin: auto;
}

.menu--card {
    width: 270px;
    height: 480px;
    background-color: #f7f8fd;
    margin: 0 1rem;
    border: 2px solid #1e1e1e;
}

.menu--card__header {
    width: 100%;
    text-align: center;
    padding: 2rem 0;
}

.menu--card__header > h1 {
    font-size: 1.5rem;
}

.menu--card__content {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    text-align: center;
    display: flex;
    padding: 0 1rem;
    line-height: 1.5rem;
}

.menu--card__content__text {
    height: 50%;
}

@media (max-width: 1200px) {
  .about--container h1 {
    font-size: 2rem;
  }
  .about--container p {
    font-size: 1rem;
  }
  .parallax--menu {
    background-attachment: scroll;
  }
}

@media (max-width: 1024px) {
    .home-hero--container h1{
        font-size: 48px;
    }
    .menu--container {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 768px) {
    .about--container h1 {
        font-size: 1.5rem;
      }
      .about--container p {
        font-size: 0.9rem;
      }
}

@media (max-width: 480px) {
    .nav--items__links li {
        font-size: 1rem;
        margin: 0 4px;
      }
    .home-hero--container{
        font-size: 28px;
        text-align: center;
    }
    .home-hero--container h1{
        font-size: 28px;
    }
    .about--container {
        width: 80%;
      }
    .about--container h1 {
        font-size: 1rem;
        margin: 0;
      }
      .about--container p {
        font-size: 0.8rem;
      }
}