@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

html,
body {
  scroll-behavior: smooth;
  height: 100%;
  font-family: 'Inter', sans-serif;
}

nav {
  position: fixed;
  height: 8vh;
  width: 100%;
  background-color: rgba(30, 30, 30, 0.6);
  z-index: 10;
  box-shadow: 2px 2px rgba(0, 0, 0, 0.7);
}

.nav--items__container {
  max-width: 1600px;
  width: 100%;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav--items__logo > p {
  font-size: 32px;
  color: white;
}

.nav--items__links li {
  display: inline;
  margin: 0 4px;
}

.nav--items__links li > a {
  text-decoration: none;
  font-size: 1.2rem;
  color: white;
}

/* REUSABLE STYLING */

.btn {
  width: auto;
  padding: 1rem 2rem;
  background-color: #30b5c6;
}

.btn--cta {
  border-radius: 0.1rem;
  font-size: 1.2rem;
  text-decoration: none;
  color: #f7f8fd;
  text-transform: capitalize;
  font-weight: 400;
}

.btn--read-more {
  margin-top: auto;
  border-radius: 0.1rem;
  font-size: 1.2rem;
  text-decoration: none;
  color: #f7f8fd;
  text-transform: capitalize;
  font-weight: 400;
  border: none;
}

.btn:hover {
  background-color: #1d9bac;
}

.row {
  display: flex;
  flex-direction: row;
}

.icon__gray {
  color: #888;
}

.line__33 {
  margin: 4px auto;
  width: 33%;
  padding: 1px 0;
  background-color: #fff;
}

/* MODAL */

.modal {
  display: none;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal--content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 60%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

/* HOME SECTION */

.home-hero {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#home-hero--background-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.home-hero--container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 1;
}

.home-hero--container h1 {
  font-size: 72px;
  text-transform: capitalize;
  color: #f7f8fd;
  margin: 1rem 0;
}

/* ABOUT SECTION */
.parallax--about {
  /* background-image: url("assets/about-bg.jpg"); */
  background-color: #000;
  height: 60vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.about--container {
  height: 100%;
  width: 1600px;
  display: flex;
  flex-direction: row;
  margin: auto;
}

.about--container--left {
  display: flex;
  flex-direction: column;
  flex: 3;
  /* background-color: #1d9bac; */
  align-items: center;
  justify-content: center;
}

.about--container--left h1 {
  color: white;
  font-size: 2rem;
  padding: 0.5rem 0;
}

.about--container--left--text {
  max-width: 80%;
  color: white;
  text-align: center;
}

.about--container--left--text p {
  padding: 0.5rem 0;
}

.about--container--right {
  display: flex;
  flex: 1;
  /* background-color: aquamarine; */
  align-items: center;
  justify-content: center;
}

/* MENU SECTION */
.parallax--menu {
  background-image: url('assets/background3.jpg');
  height: 95vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu--title {
  padding: 1.5rem 0;
  width: 80%;
  margin: auto;
}

.menu--title h1 {
  font-size: 2rem;
  text-align: center;
  color: #fff;
}

.menu--container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 8px;
  justify-content: center;
  align-items: center;
  justify-items: center;
  max-width: 1600px;
  margin: auto;
}

.menu--card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 240px;
  height: 380px;
  background-color: #f7f8fd;
  margin: 0.5rem;
  border: 2px solid #1e1e1e;
}

.menu--card:hover {
  transform: scale(1.03);
  transition: all ease-in 0.1s;
}

.menu--card__header {
  width: 100%;
  text-align: center;
  padding: 1rem 0;
}

.menu--card__header > h1 {
  font-size: 1.5rem;
}

.menu--card__content {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  text-align: center;
  padding: 0 1rem;
  margin-bottom: 2rem;
  line-height: 1.5rem;
  /* background-color: #1d9bac; */
}

.menu--card__icon {
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.menu--card__content__text {
  height: 50%;
}

.menu--card__content__text p {
  font-size: 0.8rem;
}

@media (max-width: 1400px) {
  .menu--container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 1200px) {
  .about--container h1 {
    font-size: 2rem;
  }
  .about--container p {
    font-size: 1rem;
  }
  .parallax--menu {
    background-attachment: scroll;
  }
}

@media (max-width: 1024px) {
  .home-hero--container h1 {
    font-size: 48px;
  }
}

@media (max-width: 768px) {
  .about--container h1 {
    font-size: 1.5rem;
  }
  .about--container p {
    font-size: 0.9rem;
  }
  .parallax--menu {
    height: auto;
  }
  .menu--container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .nav--items__links li {
    font-size: 1rem;
    margin: 0 4px;
  }
  .home-hero--container {
    font-size: 28px;
    text-align: center;
  }
  .home-hero--container h1 {
    font-size: 28px;
  }
  .about--container {
    width: 80%;
  }
  .about--container h1 {
    font-size: 1rem;
    margin: 0;
  }
  .about--container p {
    font-size: 0.8rem;
  }
  .parallax--menu {
    background-image: none;
    background-color: white;
  }
  .menu--container {
    grid-template-columns: repeat(1, 1fr);
  }
}
